<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpreter</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <form action="/interpret" method="POST">
        <div class="content">
            <textarea placeholder="Enter Text Here!" rows="20" name="userText" cols="40" 
            class="ui-autocomplete-input" autocomplete="off" role="textbox" required 
            aria-autocomplete="list" aria-haspopup="true"></textarea>

            <textarea placeholder="Enter language to be translated in..." rows="20" name="language" cols="40" 
            class="ui-autocomplete-input" autocomplete="off" role="textbox" required 
            aria-autocomplete="list" aria-haspopup="true"></textarea>

            <input type="submit" value="Translate" class="form_submit">
        </div>

    </form>
</body>
</html>