<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpreter</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="content">
        <h2>{{heading}}</h2>
        <textarea rows="20" name="userText" cols="40" 
            class="ui-autocomplete-input" autocomplete="off" role="textbox" required 
            aria-autocomplete="list" aria-haspopup="true">{{usertext}}</textarea>

        <textarea rows="20" name="language" cols="40" 
            class="ui-autocomplete-input" autocomplete="off" role="textbox" required 
            aria-autocomplete="list" aria-haspopup="true">{{convertedtext}}</textarea>
    </div>
</body>
</html>